* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#container {
  width: 50%;
  height: 65%;
  padding: 1em;
  border: 3px solid black;
  border-radius: 1em;
  box-shadow: 0.5em -0.3em 1em;
  background-color: rgba(135, 218, 207, 0.464);
}
#display {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 3em;
  width: 100%;
  height: 30%;
  border: 4px solid blue;
  border-radius: 0.3em;
  padding: 0 0.2em;
  background-color: rgba(17, 159, 111, 0.193);
}
#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */

  width: 80%;
  height: 65%;
  margin-top: 1.5em;
  padding: 1em;
}
aside {
  /* border: 1px solid green; */

  position: absolute;
  top: 45%;
  right: 25%;
  width: 10%;
  margin: 0.5em 0;
}
button {
  border-radius: 0.5em;
  width: 5em;
  height: 3em;
  margin: 0.6em 0.5em;
}
#add {
  height: 9.5em;
}
#equal {
  background-color: aqua;
}
button:hover {
  background-color: rgb(125, 116, 15);
  transition: 1s background-color ease-in-out;
}
#display:hover {
  background-color: #ddd;
  transition: 1s background-color ease-out;
}
